{% extends 'outline/base.html' %}

{% block title %}Edit Profile{% endblock %}
{% load staticfiles %}
{% block css %}<link href="{% static "outline/css/starter-template.css" %}" rel="stylesheet"> {% endblock %}

{% block content %}
<div class="starter-template">
    <h1>Profile</h1>
    <p class="lead">Please fill out your profile</p>
    
<form action="{% url 'outline.views.profile' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
{% for f in form%}
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
    {{ f }} 
    </div>
</div>
{% endfor %}
{% for f in formset%}
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
    {{ f }} 
    </div>
</div>
{% endfor %}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
</div>
</form>
{% endblock %}