{% extends 'outline/base.html' %}

{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block css %}<link href="{% static "outline/css/starter-template.css" %}"  rel="stylesheet">{% endblock %}

{% block content %}
<div class="starter-template">
        <h1>Resume Storage</h1>
        <p class="lead">This is where we will store our resume templates.</p>
      </div>
{% for resume in resumes %}
    <h5>{{ resume.title }}</h5>
    <a href="{% url 'resume_storage.views.resume_view' resume.pk %}">Edit this resume</a>
    <a href="{% url 'resume_storage.views.delete_resume' resume.pk %}">Delete this resume</a>
{% endfor %}

{% endblock %}