{% extends 'outline/base.html' %}

{% block title %}Edit Resume{% endblock %}

{% block content %}
<form action="{% url 'resume_storage.views.resume_view' resume.pk %}" method="post">{% csrf_token %}
    <input type="text" name="title" value="{{ resume.title }}"><br>
    {% for field in form %}
        {% if field.data %}
            <input type="checkbox" name="{{ field.label }}" checked>{{ field.data }}<br>
        {% endif %}
    {% endfor %}
    {% for key, val in websites.iteritems %}
        <input type="checkbox" name="{{ key }}" checked>{{ val }}<br>
    {% endfor %}
    <h4> Resume Sections </h4>
    {% for sect in sections %}
        <input type="checkbox" name="{{ sect.title }}" checked>{{ sect.title }}<br>
        <a>{{ sect.description }}</a><br>
        {% for ent in sect.entry_set.all %}
            <input type="checkbox" name="{{ ent.title }}" checked>&#160;&#160;&#160;&#160;{{ ent.title }} {% if ent.subtitle %}({{ ent.subtitle}}){% endif %}<br>
            {% for dat in ent.data_set.all %}
                <input type="checkbox" name="{{ dat.text }}" checked>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{{ dat.text }}<br>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Save changes"/>
</form>
<a href="{% url 'resume_storage.views.delete_resume' resume.pk %}">Delete this resume</a>
{% endblock %}