{% extends 'outline/base.html' %}

{% block title %}Edit Resume{% endblock %}

{% block content %}
    <h3>{{ resume.title }}</h3>

<form action="{% url 'resume_storage.views.resume_view' resume.pk %}" method="post">{% csrf_token %}
    {% for field in obj %}
        {% if field.data %}
        <input type="checkbox" value="{{ field.label }}" checked>{{ field.data }}<br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Save changes"/>
</form>
    <a href="{% url 'resume_storage.views.delete_resume' resume.pk %}">Delete this resume</a>
{% endblock %}